
//Gallery
.gallery .gallery-item{
    padding:0 3px;
}

a.post-thumbnail{
    display: block;
}

.pagination-blog{
    margin:20px 10px;
}

.page-numbers{
    display: flex;
    justify-content: flex-end;
    li{
        display: block;
        margin-right: 3px;
        border:1px solid $color-black-light4;
        text-align: center;
        line-height: 20px;
        span{
            display: block;
            width: 24px;
            height: 24px;
            text-align: center;
            &.current{
                color: $color-black-light4;
            }
        }
        a{
            color:$color-black-light2;
            text-align: center;
            display: block;
            width: 24px;
            height: 24px;
            &:hover{
                background-color:$color-red-light;
                color:white;
            }

        }
    }
}


.home{
    .title-blog{
        font-family: $font-content;
        font-size: 1.8rem;
        color: $color-black-medium3;
        margin:3rem auto 2.5rem;
        text-align: center;
        border-bottom: 1px solid gray;
        line-height: 0.1em;
        span{
            background:white;
            padding:10px;
        }
    }
}


//index and archive
.list-articles{
    display: flex;
    flex-wrap: wrap;
    article{
        width:33.3%;
        padding:5px;

        .post-thumbnail{
            padding:0;
            border:none;
            background:none;
            img{
                width:100%;
            }
        }

        .entry-title{
            font-size:1.1rem;
            line-height: 1.4rem;
            padding:18px 10px;
            font-weight: 500;
            margin:0;
            min-height: 80px;
        }

        .entry-meta{
            font-family: $font-content;
            font-size: 0.8rem;
            font-weight: 500;
            border-bottom: 1px solid $color-black-light3;
            padding:8px 10px;

            .byline{
                float: right;
            }
            @include clear;
        }

        .entry-content{
            padding:10px;
            padding-top:0;
        }

        > div{
            background-color:$color-medium-white;
            border: 1px solid $color-black-light3;
        }

        .more-link{
            background-color:$color-black-medium;
            color:white;
            padding:2px 8px;
            border-radius: 3px;
            display: inline-block;

            &:hover{
                background-color:$color-red-light;
            }
        }
    }
}


.search{
    article{
        margin-bottom: 40px;
        padding-bottom: 40px;
        border: 1px dotted gray;
        padding:32px;
        background-color:$color-yellow2;
    }

    .entry-meta{
        margin-bottom: 3px;
        padding:10px;
    }

    .post-thumbnail{
        background:transparent;
        border:none;
    }
}

.category{
    article{
        padding:20px;
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: 1px dotted gray;
    }
    .entry-meta{
        padding:18px 10px 12px;
    }
}


.single{

    font-size: 1.1rem;

    .entry-title{
        margin:1.6rem auto;
        font-weight: bold;
    }

    .entry-meta{
        width: 100%;
        background-color:$color-medium-white;
        border:1px solid $color-medium-white2;
        padding:10px;

        .byline{
            float: right;
        }

        .author{
            text-transform: capitalize;
        }
    }


    .post-thumbnail{
        margin:1.5em auto;
    }

    article{
        p{
            margin-bottom: 1.5em;
        }
    }
}