// Header

.site-header {
  width: 100%;
  background-color: $background-header;

  .wrap {
    padding: 26px 10px;
  }

  a {
    color: white;
  }

  .icon-menu {
    display: none;
  }

  .container {
    background-image: url("images/img-fondo.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    min-height: 600px;
  }

  &.header-min {
    .container {
      > div {
        padding-top: 10px;
        padding-bottom: 0;
      }
      min-height: 100px;
      background-image: none;
      .site-title a {
        width: 100px;
        height: 82px;
        background-size: 100px 80px;
        background-repeat: no-repeat;
      }
      .site-description {
        margin: 0;
        font-size: 0.6rem;
        margin-bottom: 10px;
      }
      .main-navigation ul {
        margin-top: 20px;
      }
    }
  }
}

.site-branding {
  text-align: center;
  .site-title {
    display: block;
    text-indent: -9999px;
    text-align: center;
    margin: auto;

    a {
      background: url($logo);
      background-size: 250px 158px;
      display: block;
      width: 250px;
      height: 158px;
      margin: auto;
    }
  }
}

.header-text {
  color: white;

  .widget {
    width: 320px;
    margin: auto;
  }

  h2 {
    font-family: $font-title;
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    width: 300px;
    margin: auto;
  }

  ul {
    font-family: $font-content;
    font-size: 1.1rem;
    margin-top: 20px;
    list-style: square;
    margin-left: 26px;
    li {
      padding: 4px;
    }
  }
}

body:not(.home) {
  > .site {
    background-color: $color-medium-white;
  }

  .site-content {
    background-color: white;
    min-height: 600px;

    &.container {
      margin-top: 0px;
      border-right: 1px solid #ededed;
      border-left: 1px solid #ededed;
      padding: 16px;
    }
    .column.is-one-quarter {
      width: 28%;
    }
  }
}


.page-title,
.entry-title {
  font-family: $font-content;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 16px;
}

.page-title{
  font-size:1.8rem;
  border-bottom:1px solid $color-black-light3;
  margin-bottom: 32px;
}

.post-thumbnail {
  text-align: center;
  border: 1px solid $color-medium-white2;
  background-color: $color-medium-white;
  padding: 8px;
}

body.tax-event_cat,
body.single-event {
  .post-thumbnail img {
    max-width: 600px;
  }
  #vsel {
    margin-top: 20px;
    .vsel-image-info,
    .vsel-meta {
      width: 100%;
      float: none;
    }

    .vsel-meta {
      .vsel-meta-date {
        background-color: $color-red-light;
        padding: 10px;
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        float: left;
        span {
          font-weight: normal;
        }
      }
      .vsel-meta-cats {
        float: right;
      }
      @include clear;
    }

    .vsel-image-info {
      padding: 10px;
      border: 1px solid $color-medium-white2;
      background-color: $color-medium-white;
    }
  }
}

body.tax-event_cat{
  article{
    padding:16px;
    background-color:$color-medium-white;
    margin-bottom: 48px;

    .vsel-image-info,
    .post-thumbnail{
      display: block;
      border:none!important;
    }
    .vsel-image{
      display: none;
    }

  }
}




.site-footer {
  padding: 16px;
  background-color: $color-black-medium;
  color: $color-black-light3;
  min-height: 100px;
  a {
    color: $color-red-light;
    &:hover {
      color: white;
    }
  }

  .site-info {
    flex-direction: row-reverse;
  }

  .footer-text {
    img {
      float: left;
    }
    > div {
      display: inline-block;
      padding: 22px 16px;
    }

    @include clear;
  }

  .footer-social {
    text-align: center;
    margin-top: 12px;
    li {
      display: inline-block;
      margin: 4px;
      a {
        width: 26px;
        height: 26px;
        text-align: center;
        background: blue;
        display: block;
        border-radius: 3px;
        color: white;
        opacity: 0.75;
        i {
          line-height: 26px;
        }
        &:hover {
          opacity: 1;
        }
      }
    }
    .rss {
      background-color: #f67f00;
    }
    .google-plus {
      background-color: #d74d2f;
    }
    .twitter {
      background-color: #7ac9ed;
    }
    .facebook {
      background-color: #3b5998;
    }
    .instagram {
      background-color: #f33b9b;
    }
  }
}
