// Header

.site-header{
    width:100%;
    background-color:$background-header;


    .wrap{
        padding:26px 10px;
    }

    a{
        color:white;
    }

    .icon-menu{
        display: none;
    }

    .container{
        background-image:url('images/img-fondo.jpg');
        background-repeat: no-repeat;
        // background-size: 80%;
        background-size:contain;
        background-position:center bottom ;
        min-height:600px;
    }
}

.site-branding{
    text-align: center;
    .site-title{
        display: block;
        text-indent: -9999px;
        text-align: center;
        margin:auto;
        
        a{
            background: url($logo);
            background-size: 250px 158px;
            display: block;
            width:250px;
            height:158px;
            margin:auto;
        }

    }

}

.header-text{
    color:white;

    .widget{
        width:320px;
        margin:auto;
    }

    h2{
        font-family: $font-title;
        font-size:1.4rem;
        text-align: center;
        text-transform: uppercase;
        width: 300px;
        margin:auto;
    }

    ul{
        font-family: $font-content;
        font-size: 1.1rem;
        margin-top:20px;
        list-style: square;
        margin-left: 26px;
        li{
            padding:4px;
        }
    }
}