
@media ( max-width: 1240px ){
    .site-content .column.is-one-quarter{
        width:30%;
    }
    .site-content .container{
        max-width: 95%;
        width:95%;
    }

    #content-top-home #vsel .vsel-image{
        display: none;
    }
}

@media( max-width:768px){

    //content home
    .list-articles{
        article{
            width:50%!important;
        }
    }

    #content-top-home {

        //videos
        .widget_youtube-channel{
            .ytc_video_container{
                width:48%!important;
                margin-top:6px;
            }
        }

        //events
        .vsel-widget{
            display:block;
            .widget-title > span{
                transform: none;
            }
            .vsel-meta-single-date{
                display: inline-block;
            }
            .vsel-daynum{
                display:none;
            }
            #vsel .vsel-meta{
                margin:0;
            }
        }

    }


    body.single-event .post-thumbnail img{
        max-width: 100%;
    }

    //Event widget
    #content-top-home .vsel-widget #vsel{
        padding-left: 10px;
    }

    //Aside
    .home .site-content.container > .columns{
        display:flex;
        flex-direction: column-reverse;
    }

    .site-content .column.is-one-quarter{
        width:100%;
    }

    #secondary-home {
        margin-top:0;
        .widget:first-child{
            margin-top:0;
        }
    }

    // Responsive menu
    .site-header {
        .container{
            background-position-y: 200px;
            background-position-x: center;
        }
        .wrap{
            position: relative;
            .icon-menu{
                color:white;
                font-size:1.8rem;
                text-decoration: none;
                display: none;
                display: block;
                position: absolute;
                top:1.2rem;
                right: 3.2rem;
                padding:6px;
                &:hover{
                    color:$color-red-light;
                }
            }

            &.show-responsive {
                .main-navigation {
                    ul{
                        display: block;
                    }
                    .icon-menu{
                        color: $color-red-light;
                    }
                }

              + .header-text{
                    margin-top:0;
                }
            }

        }

    } //site header

    .main-navigation {
        ul{
            display: none;
            text-align: center;
            background-color:rgba(0,0,0,.7);
            li{
                padding:2px;
                border-bottom: 1px solid $color-black-light;
                margin:0;
                width: 100%;
                a{
                    padding:6px;
                    border:none!important;
                }
            }
        }

    } //site navigation


    .header-text{
        background-color:rgba(0,0,0,.7);
        margin-top:250px;
        .widget{
            width:80%;
        }

    } //header text

    .site-footer{
        .footer-text{
            text-align: center;
            img {
                float:none;
            }
        }
    }

    text-align: center;
    margin:auto;

}


@media( min-width:660px) and (max-width:767px){
    .header-text{
        margin-top:360px;
    }
}


@media( max-width:480px){

    .list-articles{
        article{
            width:100%!important;
        }
    }

    #content-top-home {
        //videos
        .widget_youtube-channel{
            .ytc_video_container{
                width:80%!important;

                margin-left:auto;
                margin-right: auto;
                text-align: center;
                float:none;
                margin-top:10px;
            }
        }
    }
}