
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {

	ul{
		text-align: right;
		margin:0;
		list-style: none;
		padding:0;
		li{
			display: inline-block;
			margin-left: 1.2rem;

			a{
				font-family: $font-content;
				color:white;
				text-decoration: none;
				font-size:1.1rem;
				padding-bottom: 10px;
				display: block;
				transition: border-color 0.6s linear;
				border-color:black;

				&:hover{
					border-bottom: 6px solid $color-red-light; 
				}
			}
			&.current-menu-item{
				a{
					border-bottom: 6px solid $color-red-light; 
				}
			}
		}

		.search-field{
			max-width: 180px;
			display: none;
		}

		.search-link{
			padding:5px 10px;
			display:inline-block;
			border-bottom: none!important;
		}
	}	
}

.icon-menu{
	&:hover{
		color:$color-red-light;
	}
}




// .main-navigation ul {
// 	display: none;
// 	list-style: none;
// 	margin: 0;
// 	padding-left: 0;
// }

// .main-navigation ul ul {
// 	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
// 	float: left;
// 	position: absolute;
// 	top: 100%;
// 	left: -999em;
// 	z-index: 99999;
// }

// .main-navigation ul ul ul {
// 	left: -999em;
// 	top: 0;
// }

// .main-navigation ul ul li:hover > ul,
// .main-navigation ul ul li.focus > ul {
// 	left: 100%;
// }

// .main-navigation ul ul a {
// 	width: 200px;
// }

// .main-navigation ul li:hover > ul,
// .main-navigation ul li.focus > ul {
// 	left: auto;
// }

// .main-navigation li {
// 	float: left;
// 	position: relative;
// }

// .main-navigation a {
// 	display: block;
// 	text-decoration: none;
// }

// /* Small menu. */
// .menu-toggle,
// .main-navigation.toggled ul {
// 	display: block;
// }

// @media screen and (min-width: 37.5em) {
// 	.menu-toggle {
// 		display: none;
// 	}
// 	.main-navigation ul {
// 		display: block;
// 	}
// }

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
