//Colors

$color-yellow : #F6DD61;
$color-black-medium : #0F0705;
$color-black-light2: #5F5F5F;
$color-black-light : #333333;
$color-red-light: #C52B28;
$color-red-dark: #932121;
$color-medium-white: #F5F5F5;


//Fonts

$font-content: 'Montserrat', sans-serif;
$font-title: 'PT Sans Narrow', sans-serif;


// Header
$logo : "images/logo.svg";
$background-header: $color-black-medium;


//Widgets

$padding-widget:16px;


