//Colors

$color-light : #F6DD61;
$color-black-medium : #0F0705;


//Fonts

$font-content: 'Montserrat', sans-serif;
$font-title: 'PT Sans Narrow', sans-serif;


// Header
$logo : "images/logo.svg";
$background-header: $color-black-medium;



