
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.site-content .widget {
	padding:$padding-widget;
	margin-top:12px;
	// font-family: $font-content;
	font-size:.9rem;

	.widget-title{
		font-family: $font-title;
		font-size:1.6rem;

		margin: -$padding-widget;
		margin-bottom:0; //$padding-widget;
		padding:8px $padding-widget;
	}

	h3{
		font-family: $font-content;
		font-size:1rem;
	}
}

.widget select {
	max-width: 100%;
}


#secondary-home {

	margin-top:-66px;

	.widget:first-child{
		background-color:$color-black-light2;
		color:white;

		.widget-title{
			background-color: $color-black-light;
			position: relative;
			margin-bottom: $padding-widget;
			&:after{
				content:"";
				display: block;
				top:-3px;
				right: 16px;
				position: absolute;
				background:url('images/badge.svg') no-repeat;
				width:28px;
				height: 54px;
			}
		}

		h3{
			background-color:$color-red-dark;
			display: inline-block;
			padding:2px 6px;
			min-width: 86px;
			text-align: center;
			font-size:0.9rem;
			margin-bottom: 10px;
		}

		.button{
			float: right;
		}

		table th{
			color: $color-yellow;
			font-weight: normal;
			padding-bottom: 8px;
			&:first-child{
				min-width: 128px;
			}
		}

		@include clear;

	}

}


// Extra

//Google Map
#custom_html-4{
	margin-top:26px;
	padding:4px;
	.widget-title{
		padding-left:24px;
	}
}

#content-top-home{
	margin-top:20px;
	.vsel-widget{
		padding:0;
		border:1px solid grey;
		display: flex;

		.widget-title{
			display: block;
			background:$color-red-dark;
			margin:0;
			// margin-bottom: -$padding-widget;
			// transform: rotate(-90deg);
			// flex: 0 0 15px;
			flex-basis: 30px;
			min-width: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			> span{
				transform: rotate(-90deg);
				white-space: nowrap;
				color:white;
			}
		}
		#vsel{
			margin:0;
			float:none;
			padding:12px;
			.vsel-content{
				width:100%;
				float:none;
				margin:0;
				padding:0;
				clear:both;
				> div{
					float:none;
				}
			}
		}
	}
}
